body {
    background-color: rgb(0, 17, 255);
    color: rgb(0, 0, 0);
    font: normal 15pt Arial;
}
main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}
img.lado {
    float: right;
}
h1#fnn {
    color: blue;
}
h2#lfd {
    color: blue;
}
img.lad {
    float: left;
}